{% block title %}
    Einkommen
{% endblock %}
{% block content %}
    Hier sind zwei Aussagen zu einer Streitfrage und einer Skala, mit der Sie Ihre eigene Meinung dazu abstufen können.
    Stimmen Sie mit der Aussage oberhalb der Skala vollkommen überein wählen Sie das Antwortkästchen am oberen Rand.
    Stimmen Sie mit der Aussage unterhalb der Skala vollkommen überein wählen Sie das Antwortkästchen am unteren Rand.
    Liegt Ihre Meinung irgendwo dazwischen, können Sie das mit einem der Antwortkästchen dazwischen ausdrücken.

    {% formfields %}
    {% next_button %}

{% endblock %}
