{% block title %}
    Novaland-Enduser-Experience

{% endblock %}
{% block title %}
    <link rel="stylesheet" type="text/css" href="Button.css"/>
    <h1> Novaland-Enduser-Experience</h1>
{% endblock %}
{% block content %}

Wir freuen uns, dass Sie unsere heutige Studie gestartet haben. Durch Ihre Teilnahme unterstützen Sie ein Forschungsprojekt zur „Untersuchung gesellschaftlicher und politischer Einstellungen“ der Universität Duisburg-Essen (Deutschland). Neben Ihren Antworten auf unsere Fragen, erheben wir zusätzliche Prozessdaten (z. B. Antwortzeiten), die es uns erlauben die Qualität unserer Umfrage besser zu beurteilen.

Alle Ihre Informationen werden anonymisiert. Das heißt, alle Antworten werden getrennt von Ihren persönlichen Informationen gespeichert und verarbeitet. Es können keine Rückschlüsse auf Sie selbst gezogen werden.

Ihre Teilnahme ist freiwillig. Sie dürfen die Studie jederzeit verlassen. Ihre bisherigen Informationen werden dann komplett gelöscht.

Die Universität Duisburg-Essen nimmt den Datenschutz sehr ernst. Wir halten uns an alle gesetzlichen Vorgaben der Datenschutz-Grundverordnung (DSGVO) und der entsprechenden Bundes- und Landesdatenschutzgesetze.

Wir wünschen Ihnen viel Spaß beim Ausfüllen und danken Ihnen herzlich für die Unterstützung!

Ihr Forschungsteam der Universität Duisburg-Essen
<!-- Ich werde auf mehreren Seiten HTML anwenden, dass sieht man einzelnen Zeilen wie <br> welche zum Beispiel einen Zeilenumbruch darstellen.-->
<br>
<br>
    <!-- Daher kann man auch Buttons bestimmt definieren und ihre Form ändern -->
<button class="button"> Weiter </button>

{% endblock %}
