{% block title %}
    Check
{% endblock %}
{% block content %}
<!-- Diese Seite, wird nur aufgerufen, wenn die Teilnehmenden auf der Seite davor die Frage falsch beantwortet haben.
Ansonsten kann man mit geschweiften Klammern und einem Prozentzeichen Formeln definieren und Funktionen erstellen, wie die if-Funktionen.
 Diese rufen nur die Variabeln ab, welche in der __init__py File definiert worden sind.
 -->
    Sie <strong>{% if C.Staatsbuergerschaft == 1%} sind Staatsbürger von Novaland. {% else %} haben eine dauerhafte Aufenthaltserlaubnis.{% endif %} </strong>
    Und ihre Antwort auf die Frage war: Ich <strong>{% if player.Frage_Staatsbuergerschaft == "Ja"%} bin Staatsbürger.{% else %} habe eine dauerhafte Aufenthaltserlaubnis.{% endif %} </strong>
    Daher haben Sie die Frage <strong>{% if player.Staatsbuergerschaft == player.Frage_Staatsbuergerschaft %}richtig{% else %} falsch{% endif %} </strong> beantwortet.
<br>
    <br>
{% if player.Staatsbuergerschaft != player.Frage_Staatsbuergerschaft %}

    Sie sollten sich nochmal ihre Personenbeschreibung durchlesen.
    <br>
   <a href="page_2_Staatsbuergerschaft.html">
            <button> Zurück </button>
    </a>
{% else %}
    <form action="page_3_Einkommen.html">
        <button> Weiter </button>
    </form>
{% endif %}

{% endblock %}